/* Default Colors */
body {
  

	width: 1800px;
	padding: 20px 4px;
	color: #fff;
	text-align: center;
	
	
}


.col_w340 { width: 340px }

.block1 { 
    width: 800px; 
    background: #333;
   
    

	 margin-left: 550px;
     margin-right: 100px;

   }
   .block2 { 
    width: 800px; 
    background: #333;
    text-align: left;

	 margin-left: 550px;
     margin-right: 100px;

   }
   .news { 
    width: 800px; 
    
	 margin-left: 550px;
     margin-right: 100px;
	 margin-top: 130px;
   }
    .news2 { 
    width: 800px; 
    
	 margin-left: 550px;
     margin-right: 100px;
	 margin-top: 5px;
   }
     .c { 
    width: 1200px; 
    background: #333;
   


	 margin-left: 350px;
     margin-right: 100px;
	 margin-top: 130px;
   }
  h12
   {
	  
	   font-family: 'impact', Times, serif; /* Гарнитура текста */ 
	
   }
   h3
   {
	font-family: 'Segoe print', Times, serif; /* Гарнитура текста */ 
    font-size: 400%; /* Размер шрифта в процентах */ 
	color : #333
   }
  h5
   {
	font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 400%; /* Размер шрифта в процентах */ 
	color : #333
   }
   h6
   {
	font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 80%; /* Размер шрифта в процентах */ 
   }
  
   
  p
   {
	font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 190%; /* Размер шрифта в процентах */ 
   }
   
   str{color:red}/* Строки красные */
.func{color:blue}/* Юзер-функции синие */
.comm{color:orange}/* Комменты оранжевые */
.kwrd{font-weight:bold}/* Ключевые слова полужирные */
.str span{color:red;font-weight:normal}/* Всё внутри строки — строка */
.comm span{color:orange;font-weight:normal}/* Всё внутри комментария — комментарий */

   
   
#nav {
  margin-top: 10px;
    width: 100%;
    height:47px;
    text-align: center;
    display: inline;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#000;
    vertical-align:middle;
}
#nav ul li {
  display: inline-block;
  padding: 1em;
  font-size: 1.15em;
}
#nav ul li.current_page_item a {
  border-top: 0.35em solid #ff3a2e;
}
#nav ul li.current_page_item1 a {
 border-top: 0em solid #ff3a2e;
  
}

#nav ul li:last-child {
  padding-right: 0;
}
#nav ul li ul {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #fff;
  padding: .5em;
  margin-top: .75em;
  margin-left: 0em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  border-radius: .25em;
}
#nav ul li ul:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 5%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #ffffff transparent;
}
#nav ul li ul li {
  display: block;
  margin: 0;
  padding: 0;
}
#nav ul li ul li a {
  font-weight: normal;
  font-size: 0.95em;
  color: #5f7385;
  padding: .5em;
  display: block;
  border-radius: .25em;
}
#nav ul li ul li a:hover {
  border-top: none;
  color: #2a333b;
  background: #eaeaea;
}
#nav ul li ul li a:active {
  position: relative;
  top: 1px;
}
#nav ul li a {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding-top: 1em;
}
#nav ul li a:hover {
  border-top: 0.35em solid #1f262c;
  color: #d9d9d9;
}
#tooplate_footer {
	clear: both;
	width: 1800px;
	padding: 20px 4px;
	color: #333;
	text-align: center;
	
}
#tooplate_footer2 {
	clear: both;
	width: 1800px;
	padding: 20px 4px;
	color: #333;
	text-align: center;
    font-size:15px;
}
#tooplate_footer a { color: #333}


